.App {
    text-align: center;
    margin-top: 50px;
  }
  
  .form-container {
    display: flex;
    justify-content: center; /* Căn giữa form */
    margin-bottom: 20px;
    height: 50vh; /* Căn giữa theo chiều dọc */
  }
  
  .form-box {
    width: 350px;
    padding: 20px;
    border: 2px solid #ccc; /* Viền khung */
    border-radius: 10px; /* Bo góc */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Đổ bóng */
    background-color: #fff;
    text-align: center;
  }
  
  input {
    padding: 10px;
    width: 300px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 320px;
    
  }
  
  button:hover {
    background-color: #1e6d20;
  }
  
  .signup-link {
    text-align: center;
    margin-top: 10px;
  }
  
  .signup-link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }